<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

    <aop:aspectj-autoproxy/>
    <context:annotation-config />
    <mvc:annotation-driven/>
    
    <bean id="users" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
      <property name="locations">
        <list>
          <value>classpath*:Users.properties</value>
        </list>
      </property>
    </bean>
    <context:component-scan base-package="com.actualize.mortgage.api" />
    
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	<bean id="userServices" class="com.actualize.mortgage.services.impl.UserServicesImpl"/>
    
    <import resource="classpath:am-security.xml" />
    <bean id="mortgageServices" class="com.actualize.mortgage.services.impl.MortgageServicesImpl"/> 
   	<bean id="loanEstimateServices" class="com.actualize.mortgage.leservices.impl.LoanEstimateServicesImpl"/>
   	<bean id="closingDisclosureService" class="com.actualize.mortgage.cdservices.impl.ClosingDisclosureServiceImpl"/>
   	<bean id="exceptionAdvisor" class="com.actualize.mortgage.exceptions.ExceptionAdvisor"/>
</beans>